
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.contenedor{
    width:85vw;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: rgb(128, 128, 241);
    color: white;
    height: 80px;
    margin-bottom: 10px;
}

.logo{
    margin-top: 30px;
}

.logo a{
    color: white;
    text-decoration: none;
}

.navbar{
    background-color: rgb(61, 61, 182);
    color: white;
}

.navbar ul{
    list-style-type: none;
    text-align: right;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    display: block;
    margin-right: 20px;
    padding: 10px;
}

.navbar ul li a:hover{
    background-color: white;
    color: blue; 
}

.destacado, .normal{
    background: white;
    padding: 0.7em;
}

.destacado{
    margin-bottom: 0.6em;
}

.normal{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 500px;
}

.imaNota img{
    width: 100%;
}

.cortarFloat{
    clear: both;
}

/* Corresponde a la Página de Contactos */

#formContacto{
    padding: 1.2em;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 1em;
    }
    #formContacto input, #formContacto select, #formContacto textarea{
        width:100%;
        padding:0.8em;
        box-sizing: border-box;
        margin-bottom:1em;
        border-radius:3px;
        border:none;
        font-family: Arial, Helvetica, sans-serif;
        font-size:1em;
        }
        /* .check{ width:5% !important;} /*mala practica*/
        /*.btn-envio{width:50% !important;} */

        /*selector de etiqueta[atributo="valor"]*/
        #formContacto input[type="checkbox"]{
            width:auto;
        }
        #formContacto button[type="submit"]{
            width:50%;
            height: 3em;
        }

        /*Pseudoclases*/
        #formContacto button[type="submit"]:hover{
            background:rgb(32, 32, 180);
            color:white;
        }
        #formContacto input:focus{
            background: grey; 
        }
        #formContacto input:valid{
            border:1px green solid;
        }



